<div class="login">

    <h2>Login</h2>
    <p><%= message %></p>
    <form action="/login" method="post">
        
        
        <input id="username" name="username" type="text" placeholder="Username" required />
        
        
        <input id="password" name="password" type="password" placeholder="Passowrd" required />
        
        <button type="submit">Login</button>
    </form>

</div>