<h2>Create a post</h2>

<form action="/posts/save" method="post">
    <label for="">Title</label>
    <input name="title" type="text">

    <label for="">Image URL</label>
    <input name="image_url" type="text">

    <label for="">Description</label>
    <input name="description" type="text">
    <button>Post</button>
</form>