<div class="newpost">

    <h2>Create a post</h2>
    
    <form action="/posts/save" method="post">
       
        <input name="title" type="text" placeholder="Title">
        
        <input name="image_url" type="text" placeholder="Image URL.jpg">
        
        <input class="description" name="description" type="text" placeholder="Description">
        
        <button>Post</button>
    </form>
</div>